* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #1e8dd5;
	color: white;
}

header {
	background-color: #2d3e50;
	color: #fff;
	padding: 10px 20px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu li {
	margin-left: 20px;
}

.menu li:first-child {
	margin-left: 0;
}

.menu a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.menu a:hover {
	text-decoration: solid;
}

.container {
    padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	padding-bottom: 3rem;
	text-align: center;
	align-items: center;
}

.bordered-section {
    border: 2px solid white;
    padding: 5rem;
}
  
.bordered-section h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 2rem;
}

.lorem   {
    text-align: center;
	padding: 2rem;
}

button {
	font-weight: bold;
	background-color: white;
	font-size: 1rem;
	padding: 1rem;
	color: #1e8dd5;
	border-radius: 8px;
	border-style: none;
}

  